name: CI/CD Pipeline

on:
  push:
    branches:
      - "*"

env:
  GOLANG_VERSION: ~1.23
  GOLANGCI_LINT_VERSION: v1.63.4

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GOLANG_VERSION }}

      - name: Check out code
        uses: actions/checkout@v3

      - name: Linters
        uses: golangci/golangci-lint-action@v3
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
          working-directory: .

  tests:
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ^1.20

      - name: Check out code
        uses: actions/checkout@v3

      - name: Unit tests
        run: go test -count=100 -race ./...
        working-directory: .

  build:
    runs-on: ubuntu-latest
    needs: [lint, tests]
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GOLANG_VERSION }}

      - name: Check out code
        uses: actions/checkout@v3

      - name: Build application
        run: go build -o application ./cmd

